
@font-face {
    font-family: 'Tweety';
    src: url('Tweety.otf') ;
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Julian';
    src: url('Julian.otf') ;
    font-weight: normal;
    font-style: normal;

}

